body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.auth-links a {
    margin-left: 20px;
    color: #61dafb;
}

main {
    padding: 20px;
}

.countdown {
    text-align: center;
    margin-bottom: 20px;
}

.countdown h2 {
    color: #333;
}

.contests {
    margin-top: 20px;
}

.contests h2 {
    color: #333;
}

.contests ul {
    list-style-type: none;
    padding: 0;
}

.contests li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .nav-links{
        display: none;
    }

}
